body {
  background-image: url("exam.jpg");
  background-size: cover;
  background-color: brown;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
div {
  width: 550px;
  height: 350px;
  background-color: cornflowerblue;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}
#tasklist {
  /* background-color: burlywood; */
  color: rgb(15, 4, 4);
  font-size: larger;
  font-weight: bold;
}
button {
  color: black;
  border: 2px solid yellow;
  border-radius: 2px;
  height: 30px;
  border-radius: 5px;
}
button:hover {
  background-color: yellow;
}
h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
label {
  background-color: #fff;
  margin-right: 5px;
  border: 2px solid skyblue;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 30px;
  height: 30px;
}
input {
  /* background-color: aquamarine; */
  border: 2px solid rgb(3, 8, 11);
  /* width: 30px; */
  height: 25px;
  border-radius: 5px;
}
